<div class="loginBox">
	<table class="table">
		<thead>
			<p>
			  	<button id="login-btn" type="button" class="btn btn-primary btn-circle" data-toggle="modal"  ng-click="addTasks()" >
			  		<b>+ADD Task's</b>
			  	</button>
			 </p>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks">
				<td>
					<!-- ui-sref="/({id:hhh})" -->
					<a class="active" href="#/home/{{task.start}}">
						<b>{{task.start}}</b>
					</a>
				</td>
				<td>
					<button type="button" class="close" ng-click="removeTask(task._id)">
						<b> x </b>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>