<div class="Box">
	<div class="container" ng-controller="todoController">
		<h1>Your <u>{{title}}</u> ToDo List </h1>
		<table class="table">
			<thead>
				<tr>
					<th>Todo's</th>
					<th><button type="button" class="btn btn-primary btn-circle" data-toggle="modal"  ng-click="addTodolist()" ><b>+ADD</b></button></th>
				</tr>
			</thead>
			<tbody>
				
				<tr ng-repeat="todo in todolist">
					<td>{{$index + 1}}. {{todo.name}}</td>
					<td>
						<button class="btn btn-warning"  data-toggle="modal" ng-click="edit(todo._id)" >Edit</button>
						<button class="btn btn-danger" ng-click="remove(todo._id)"><b>X</b></button>
					</td>
				</tr>
			</tbody>
		</table>
		<a ui-sref="todo1"><button class="btn btn-default">BACK</button></a>
	</div>
</div>